@model QuanLyThuVien.Models.LoaiSach
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Sửa loại sách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa loại sách</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDLoai" class="control-label"></label>
                <input asp-for="IDLoai" class="form-control" />
                <span asp-validation-for="IDLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenLoai" class="control-label"></label>
                <input asp-for="TenLoai" class="form-control" />
                <span asp-validation-for="TenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
