
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="color:white">
    <h2>Giới thiệu</h2>
    <p style="font-size:20px; color:white">Đây là một trang web demo trên mô hình thư viện dành cho sinh viên trường Đại học Sư phạm thành phố Hồ Chí Minh</p>
</body>

