@{
    ViewData["Title"] = "Liên hệ";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-5">
        Trần Minh Trường <br />
        71/35 Trần Phú<br />
        Phường 4, quận 5, thành phố Hồ Chí Minh<br />
        <abbr title="Phone">Phone number:</abbr>
        +84706 007 333
        <address>
            <strong>Support:</strong> <a href="mailto:tm.truong1607@gmail.com">Hỗ trợ</a><br />
        </address>
    </div>
    <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.651110644767!2d106.68001421414972!3d10.761348962416013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b888ab357%3A0xc469f6e800231314!2zMjgwIEFuIETGsMahbmcgVsawxqFuZywgUGjGsOG7nW5nIDQsIFF14bqtbiA1LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1576861418960!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

</div>

