@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/stylepage.css" rel="stylesheet" />
    <script src="~/Scripts/function.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>
<body>
    <div>
        <div class="nn-sheet">

            <article class="nn-body">
                @RenderBody()
            </article>

            <hr />
            <footer>
                <p>ASP.NET</p>
            </footer>
        </div>
    </div>
    </div>
</body>
</html>
