@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/pagestyle.css" rel="stylesheet" />
    <script src="~/Scripts/function.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>
<body>
    <div>
        <div class="container" style="width:100%">
            <header class="nn-header">
                <h1 class="nn-company">Admin Site</h1>
                <h5 class="nn-slogan">Quản lí thư viện</h5>
                <img class="nn-logo" src="~/css/booklogo.png" />
            </header>

            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/QuanLy/Index" class="navbar-brand">Trang chủ</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lý trung tâm<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/ChiNhanh/Index">Quản lý chi nhánh</a></li>
                                <li><a href="~/NhanVien/Index">Quản lý nhân viên</a></li>
                                <li><a href="~/Sach/Index">Quản lý sách</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lý chi nhánh<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/DocGia/Index">Quản lý độc giả</a></li>
                                <li><a href="~/ChiNhanh/SachTrongChiNhanh">Sách trong chi nhánh đang quản lý</a></li>
                                <li><a href="~/QuanLy/Thongke">Thống kê mượn sách</a></li>

                            </ul>
                        </li>
                    </ul>
                    @if (Context.Session.GetInt32("IDNhanVien") == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="~/NhanVien/Login" class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a></li>
                        </ul>
                    }
                    @if (Context.Session.GetInt32("IDNhanVien") != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Context.Session.GetString("TaiKhoanNv") <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/NhanVien/Details/@Context.Session.GetInt32("IDNhanVien")">Thông tin tài khoản</a></li>
                                    <li><a href="~/NhanVien/Logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            </div>

            <div class="nn-sheet">

                <article class="nn-body">
                    @RenderBody()
                </article>

                <hr />
                <footer>
                    <p>ASP.NET</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
