@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thư viện HCMUE</title>


    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Stylecss.css" />
        <link href="~/css/pagestyle.css" rel="stylesheet" />

    </environment>
    <environment exclude="Development">
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/pagestyle.css" rel="stylesheet" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/Stylecss.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/jquery.min.js"></script>
        <link rel="stylesheet" href=""
              asp-fallback-href="~/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body style="color:white">
    <header class="nn-header row">
        <h1 class="nn-company">Thư viện HCMUE</h1>
        <h5 class="nn-slogan">Khoa Công nghệ thông tin</h5>
        <img class="nn-logo" src="~/css/booklogo.png" />
    </header>

    <div class="navbar navbar-inverse row">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="">
                <li><a onclick="btnHome()">Trang chủ</a></li>
                <li><a asp-action="About" asp-controller="Home">Giới thiệu</a></li>
                <li><a asp-action="Contact" asp-controller="Home">Liên hệ</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tài khoản <span class="caret"></span></a>
                    @if (Context.Session.GetInt32("IDDocGia") == null)
                    {
                        <ul class="dropdown-menu">
                            <li><a href="~/DocGia/Login" style="color:black">Đăng nhập</a></li>
                        </ul>
                    }
                    @if (Context.Session.GetInt32("IDDocGia") != null)
                    {
                        <ul class="dropdown-menu">
                            <li><a href="~/DocGia/Details/@Context.Session.GetInt32("IDDocGia")" style="color:black">Thông tin tài khoản</a></li>
                            <li><a href="~/DocGia/DanhSach/@Context.Session.GetInt32("IDDocGia")" style="color:black">Lịch sử đặt sách</a></li>
                            <li><a href="~/DocGia/Logout">Đăng xuất</a></li>
                        </ul>
                    }
                </li>
                <div style="color:white">@Context.Session.GetString("HoTen")</div>
            </ul>

        </div>
    </div>

    <div class="nn-sheet row">
        <div class="body-content">
            @RenderBody()
            <iframe style="border: medium; height: 200px; width: 100%;" name="iframe_main"></iframe>
        </div>


    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">

        <hr />
        <footer style="color:white; text-align:center; margin: 0px 0px 20px 0px;">
            <br /><br /><br />
            <p >&copy; Trường Đại học Sư phạm thành phố Hồ Chí Minh</p>
            <p>Liên hệ: 0706007333 - tm.truong1607@gmail.com</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    function btnHome(){
        window.location.href = "/Home/Index";
    }
</script>